[General]
api_token: xxxx-9999999999-xxxxxxxxxxxxxxxxxxxxxxxx
slack_channel: general
keyword_file: keywords.json
greet_people: False
refrigerators_file: /path/to/refrigerators.txt
wolfram_app_id: XXXXXXXXXXXXXXXX